<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container">
      <section class="loginBox row-fluid">
        <section class="span7 left">
          <h2>用户登录</h2>
          <p><%= f.email_field :email, autofocus: true, placeholder: 'Email'%></p>
          <p><%= f.password_field :password, autocomplete: "off", placeholder: '密码' %></p>
          <section class="row-fluid">
            <section class="span8 lh30">
              <label>
                <%= f.check_box :remember_me %>下次自动登录
              </label>
            </section>
            <section class="span1"><%= f.submit "登录", class: "btn btn-primary" %></section>
          </section>
        </section>
        <section class="span5 right">
          <h2>没有帐户？</h2>
          <section>
            <p>
              这是基于rails的管理系统模板, 可以快速搭建一个管理系统, 快速生产70%的代码.
            </p>

            <p><%= render "devise/shared/links" %></p>
          </section>
        </section>
      </section><!-- /loginBox -->
    </div> <!-- /container -->
<% end %>



